.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container{
  width: 100%;
  max-width: 1083px;
  margin: 0 auto;
}

.moviesBackground {
  position: relative;
  height: 396px;
  overflow: hidden;
}

.moviesBackgroundPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: blur(8.15px);
}
