.headerWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
}

.logo {
  color: var(--primary-color);
  text-decoration: none;
}

.navigationHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  margin: 16px 0;
}

.netflix{
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}
.roulette{
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.buttons{
  display: flex;
  gap: 13px;
}