.divider{
  border: 10px solid rgba(136, 136, 136, 1);
  width: 100%;
}

.navigation{
  height: 396px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 16px;
}

.logo {
  color: var(--primary-color);
}

.navigationHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.netflix{
  font-weight: 900;
}

.roulette{
  font-weight: 500;
}

.navigationContent{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 39px;
}

.buttons{
  display: flex;
  gap: 13px;
}

.headerSlogan{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 39px 0;
}