*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primary-color: #F65261;
  --secondary-color: #424242;
  --background-color: #232323;
  --border-color: #555555;
  --text-color: #FFFFFF;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}